{% load static %}

{% load women_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'women/css/style.css' %}">
</head>
<body>



    <div class="container">
        <header class="border-bottom lh-1 py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">

            
             

              <p class="link-secondary " >Категории:</p>

             {% for c in cats %}
              {% if c.women__count > 0 %}
             {% if c.pk == cat_selected %}
             <p class="link-primary ">{{c.name}}</p>
     
        

             {% else %}
   <p><a class="link-secondary " href="{{ c.get_absolute_url }}">{{c.name}}</a></p>
     
             {% endif %}
             {% endif %}

             {% endfor %}
              
            </div>
            <div class="col-4 text-center">
              <a class="blog-header-logo text-body-emphasis text-decoration-none text-uppercase" href="{% url 'home' %}"> VOLODYAAAA</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <a class="link-secondary" href="#" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
              </a>
              <a class="btn btn-sm btn-outline-secondary" href="#">Войти</a>
            </div>
          </div>
        </header>

        {% block mainmenu %}
      
        <div class="nav-scroller py-1 mb-3 border-bottom">
          <nav class="nav nav-underline justify-content-between">
            {% for m in menu %}
            <a class="nav-item nav-link link-body-emphasis active" href="{% url m.url_name  %}">{{m.title}}</a>
            {% endfor %}
            {% endblock mainmenu %}

            {% if request.user.is_authenticated %}

            <a class="nav-item nav-link link-body-emphasis " href="№">{{user.username}}</a>
            <a class="nav-item nav-link link-body-emphasis " href="{% url 'logout'  %}">Выйти</a>

            {% else %}

            <a class="nav-item nav-link link-body-emphasis " href="{% url 'register'  %}">Регистрация</a>
            <a class="nav-item nav-link link-body-emphasis " href="{% url 'login'  %}">Войти</a>
            {% endif %}

          </nav>
        </div>
      </div>
   

      <main class="container container-fluid">

        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
              <h1 class="display-4 fst-italic ">{{title}}</h1>
            </div>
          </div>
{% block content %}
{% endblock %}

{% if page_obj.has_other_pages %}

<nav aria-label="Page navigation example">
  <ul class="pagination">

    {% if page_obj.has_previous %}

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>

    {% endif %}

    {%  for p in paginator.page_range %}

    {% if page_obj.number == p %}

    <li class="page-item active"><p class="page-link " >{{p}}</p></li>
   
    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}

    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{p}}</a></li>
   {% endif %}
    {% endfor  %}

    {% if page_obj.has_next %}

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Previous</a></li>

    {% endif %}

  </ul>
</nav>

{% endif %}


        </main>
</body>
</html>