{% extends 'women/base.html' %}

{% block content %}

<div class="row mb-2">
    {% for post in posts %}


    <div class="card col col-md-5 m-5" >
        {% if post.photo %}
        <img class="card-img-top" src="{{post.photo.url}}" alt="Card image cap" style="width: 100%;
         width:100%;
        height:auto;
        object-fit: cover;">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h5>
          {% autoescape on %}
          <p class="card-text">{{post.content|linebreaks|truncatewords:50 }}</p>
          {% endautoescape %}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Категории: {{post.cat}}</li>
        </ul>
        <!-- <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div> -->
      </div>


    {% endfor %}
  </div>



{%endblock%}